{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
<h1>Привет, я автор</h1>
<p class="fs-5">Я просто человек который вместо ноутбука на накопленные деньги купил курс</p>
<p class="fs-5">Помимо курса я
<span class="fs-5 text-decoration-line-through">ужасно устаю из за</span>
<span class="fs-5">прохожу НТО, делаю проект в кванториуме, и 10 класс не такой легкий как о нем говорят </span>
</p>
<p class="fs-5">Сижу пишу это, но надо идти дальше так что пойду проходить курс</p>
<p class="fs-5">19:30 28.11.2022</p>
{% endblock %}